<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Controle de Estoque</mat-card-title>
      <mat-card-subtitle>Acesso ao Sistema</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Por favor, autentique-se utilizando sua conta Google para continuar.</p>
    </mat-card-content>
    
    <mat-card-actions [align]="'end'">
      <asl-google-signin-button type='standard' theme='outline' size='large'>
      </asl-google-signin-button>
    </mat-card-actions>
    </mat-card>
</div>